h1{
    color: #F55800;
}

h2{
    color:white;
}

p{
    color: #F4F5F7;
}

.headline1{
    padding-left: 12.5rem;
}
.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: right center;
    padding: 120px 0 300px 0;
    margin: 0;
    background-image: url(./images/headline_desktop_image.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-color: #1C1A19
    
    ;
  }

  .navbar{
      background-color: #3E3C3C;
  }

  .font{
      font-weight: 600;
  }

  .socialmedia{
      position:absolute;
      display: flex;
      flex-direction: column;
      bottom: 470px;
      gap: 20px;
      left: 0;
      list-style-type: none;
  }