h1{
    color: #F55800;
}

.headline .headline1 .container .row h2{
    color:white;
}

p{
    color: #F4F5F7;
}

.headline .headline1 .container .row {
  margin-top: 100px;
}

.headline1{
    padding-left: 12.5rem;
}
.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: right center;
    padding: 120px 0 300px 0;
    margin: 0;
    background-image: url(./images/headline_desktop_image.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-color: #1C1A19;
  }

  .navbar{
      background-color: #3E3C3C;
  }

  .font{
      font-weight: 600;
  }

  .socialmedia{
      position:absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* bottom: 270px; */
      gap: 20px;
      left: 0;
      list-style-type: none;
  }

.work {
  height: 1000px;
}

.works_title {
  margin-top: 100px;
}

.works_line {
  margin-top: 20px;
  width: 100%;
  height: 4px;
  color: #212121;
}

.multi_post {
  height: 500px;
  margin-top: 100px;
}

.multi_img {
  background-image: url(./images/multi_post.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.btn-see-project {
  margin-top: 20px;
}

.multi_post_para {
  width: 70%;
}
